*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width:80%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(245, 228, 220); 
    direction: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
    margin: 0 auto;
}
/* .colorcontainer{
    width: 50%;
    direction: flex;
    flex-direction: column;
    background-color: aquamarine;

} */
.myfooter{
   
    position: fixed;
    background-color: silver;
    text-align: center;
    bottom: 0;
    width: 100%;
}